body {
    background-color: #f5f5f5;
}
#container {
    margin: 50px auto;
    user-select: none;
    display: flex;
    justify-content: center;
}

#menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gameMode {
    margin-right: 30px;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.game-status {
    display: flex;
    justify-content: center;
}

.game-bomb-status, .game-time-record {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.game-time-record img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.game-bomb-status img {
    margin-right: 10px;
}

.blockWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.block {
    display: inline-block;
    border: 1px solid #dddddd;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align:center;
    box-sizing: border-box;
    transition: all 0.2s;
}

#container:not(.endGame) .block:hover {
    background-color: #cfcfcf;
}

.visible {
    background: #cccccc;
}

.bgBomb {
    background: url(./img/bomb.png) no-repeat center;
    background-size: contain;
}

.bgRed {
    background-color: red;
}

.bombMark {
    background: url(./img/flag.png);
}
